body,
.tall {
  height: 100%;
  height: 100vh;
}
h1,
h3,
h5 {
  font-family: 'Georgia', Times, "Times New Roman", serif;
  color: #333;
}
h2,
h4,
h6,
p {
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #333;
}
h3 {
  font-size: 1.7375em;
  line-height: 1.7375em;
}
h6 {
  font-size: 0.777em;
  line-height: 1em;
  color: #777;
}
.relative {
  position: relative;
}
.map {
  width: 100%;
  height: 100%;
}
.overlay {
  background: #FCFCF3;
  opacity: 0.9;
}
.finger {
  position: absolute;
  padding: 1.825em 1.45em 1.625em;
}
.mid-space {
  margin: 2em 0 2.225em;
}
.deep-space {
  margin: 3em 0 3.445em;
}
.source {
  color: #666;
  margin: 0 0 0.6775em;
}
.hed {
  margin: 0 0 0.965em;
}
.dateline {
  font-weight: 200;
  color: #666;
}
ul.pagination li.current a:hover,
ul.pagination li.current a {
  background-color: #008cba;
  -webkit-transition: background-color 400ms ease-in-out;
  -moz-transition: background-color 400ms ease-in-out;
  -o-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}
.slider {
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.slider.hidden {
  position: absolute;
  top: -80px;
  width: 100%;
  opacity: 0;
}
.map {
  opacity: 0.2;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.map.show {
  opacity: 1;
}
#main-story {
  width: 400px;
  right: -400px;
  top: 20px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
#main-story.slide-in {
  right: 0;
}
rect {
  fill: #FFF;
}
.storm {
  fill: #5191A5;
}
