body,
.tall {
  height: 100%;
  height: 100vh;
	}
h1,
h3{
  font-family: 'Georgia', Times, "Times New Roman", serif;
  color: #333;
	}
h2,
h4,
h5,
h6,
p {
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #333;
	}
h3 {
  line-height: 1.75em;
	}
h3 span {
  font-style:italic;
  }
h5 {
  font-size: 1em;
  }
h6,label {
  font-size: 0.777em;
  line-height: 1em;
  color: #777;
	}
p {
  font-size:0.8em;
}
form {
  margin:0;
  }
label{
  color:#fff;
  margin-bottom:0.666em;
  }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #ccc;
  }
[class*="column"] + [class*="column"]:last-child {
  float:left; /*override the last item being right-floated*/
  }
[data-magellan-expedition] {
  border-bottom:1px solid #85A9B5;
  z-index:99;
  }
[data-magellan-expedition-clone] .sub-nav {
  margin:-0.25rem 0 0.9rem; /* correction for overflown space in the clone*/
  }
.sub-nav dd:first-child{
  margin-left:2.45em;
  color:#333;
  }
/* map */
.map,
.reports {
  height:100%;
  background:#5491A4;
  /*margin-top:-0.5em;*/
	}
.map {
  /*opacity: 0.2;*/
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
	}
.map.show {
  opacity: 1;
	}
.about {
  position:fixed;
  top:1.2em;
  right:1em;
  z-index:100;
  font-size:60%;
  }
.logo-rw  {
  margin-top:0.5em;
  width:50%;
  }
/* reports */
#expand-search {
  display: block;
  position: absolute;
  top: 4em;
  right: 1.5em;
  font-size:60%;
  color: #fff;
  }
#expand-search:hover {
  text-decoration: underline;
  }
.reports h3 {
  color:#fff;
  }
.report {
	padding:0 1em 1em;
	}
.report img {
  width:24px;
  margin-right:1em;
  }
.report-top {
  padding: 1em;
  background: #e7e7e7;
  }
.report-content {
	overflow-y:hidden;
  min-height:11.5em;
	max-height:11.5em;
  background:#fff;
	padding:1em;
  -webkit-transition: background-color 400ms ease-in-out;
  -moz-transition: background-color 400ms ease-in-out;
  -o-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
	}
.readmore {
  position:absolute;
  left:inherit;
  bottom:4em;
  }
.tweet {
  margin-top:1em;
  }
.tweet .report-top {
  color:#777;
  }
.tweet .report-content {
  background:#f2f2f2;
  border:1px solid #ddd;
  min-height:8em;
  max-height:8em;
  }
.tweet .report:hover .report-content{
  background: #e7e7e7;
  }
.source {
	font-style: italic;
  color: #666;
  margin: 0 0 0.6775em;
	}
.dateline {
  font-weight: 200;
  color: #666;
	}
ul.pagination {
  position: absolute;
  top: 1em;
  right: -3.5em;
  }
ul.pagination li a {
  color:#fff;
  }
ul.pagination li a:hover,
ul.pagination li.current a {
  background-color: #85A9B5;
  -webkit-transition: background-color 400ms ease-in-out;
  -moz-transition: background-color 400ms ease-in-out;
  -o-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
	}
.slider {
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
	}
.slider.hidden {
  position: absolute;
  top: -80px;
  width: 100%;
  opacity: 0;
	}
