.mid-space {
    margin: 2em 0 2.225em;
}

.deep-space {
    margin: 3em 0 3.445em;
}

.report {
    margin: 12px 0 20px;
}

.source {
    text-transform: uppercase;
    color: #666;
    margin: 0 0 0.4em;
}

.hed {
    margin: 0 0 0.965em;
}
